<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.sj.yets.repository.entity.IncomeDeductionEntity" alias="IncomeDeductionEntity"/>
        <typeAlias type="com.sj.yets.repository.entity.YetsResultEntity" alias="YetsResultEntity"/>
        <typeAlias type="com.sj.yets.repository.entity.BasicInfoEntity" alias="BasicInfoEntity"/>
        <typeAlias type="com.sj.yets.repository.entity.HumanDeductionEntity" alias="HumanDeductionEntity"/>
        <typeAlias type="com.sj.yets.repository.entity.TaxCreditEntity" alias="TaxCreditEntity"/>

    </typeAliases>


</configuration>


